/* Coolors Exported Palette - coolors.co/ce2d4f-ce6d8b-cebbc9-4056f4-470ff4 */

/* HSL */
$color1: hsla(347%, 64%, 49%, 1);
$color2: hsla(341%, 50%, 62%, 1);
$color3: hsla(316%, 16%, 77%, 1);
$color4: hsla(233%, 89%, 60%, 1);
$color5: hsla(255%, 91%, 51%, 1);

/* RGB */
$color1: rgba(206, 45, 79, 1);
$color2: rgba(206, 109, 139, 1);
$color3: rgba(206, 187, 201, 1);
$color4: rgba(64, 86, 244, 1);
$color5: rgba(71, 15, 244, 1);